
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ՏԸՀ անդամներ</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Սկիզբ
            </NavLink>
        </li>
        <AuthorizeView Roles="Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="PecMemberReports/PecMembersGen" Match="NavLinkMatch.All">
                    <span class="oi oi-pencil" aria-hidden="true"></span> ՏԸՀ կազմ
                </NavLink>
            </li>
        </AuthorizeView>

        @*<AuthorizeView Roles="Admin,Tec">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="PecMembersTec/PecMembersTec" Match="NavLinkMatch.All">
                    <span class="oi oi-person" aria-hidden="true"></span>  Ընտրատարածք
                </NavLink>
            </li>
        </AuthorizeView>*@

        <AuthorizeView Roles="Admin,Tec">

            <li class="nav-item px-3">
                <NavLink class="nav-link" @onclick="()=>expandSubNavTec = !expandSubNavTec" Match="NavLinkMatch.All">
                    <span class="oi oi-person" aria-hidden="true"></span>  Ընտրատարածք
                </NavLink>
            </li>
        </AuthorizeView>
        @if (expandSubNavTec)
        {
            <AuthorizeView Roles="Admin,Tec">
                <li class="nav-item px-3">
                    <NavLink class="expand-menu" href="PecMembersTec/PecMembersTec" Match="NavLinkMatch.All">
                        &nbsp;&nbsp;&nbsp;&nbsp;  <span class="oi oi-inbox" aria-hidden="true"></span>Դիտել
                    </NavLink>
                </li>
            </AuthorizeView>
            <AuthorizeView Roles="Admin,BeforeDayInput">
                <li class="nav-item px-3">
                    <NavLink class="" href="PecMembersTec/PecMembersAdd" Match="NavLinkMatch.All">
                        &nbsp;&nbsp;&nbsp;&nbsp; <span class="oi oi-pencil" aria-hidden="true"></span>Ավելացնել
                    </NavLink>
                </li>
            </AuthorizeView>
        }


        @*<AuthorizeView Roles="Admin,Party">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="PecMembersParty/PecMembersParty" Match="NavLinkMatch.All">
                    <span class="oi oi-people" aria-hidden="true"></span>   Կուսակցություն
                </NavLink>
            </li>
        </AuthorizeView>*@


        <AuthorizeView Roles="Admin,Party">
            <li class="nav-item px-3">
                <NavLink class="nav-link" @onclick="()=>expandSubNav = !expandSubNav" Match="NavLinkMatch.All">
                    <span class="oi oi-people" aria-hidden="true"></span> Կուսակցություն
                </NavLink>
            </li>
        </AuthorizeView>
        @if (expandSubNav)
        {
            <AuthorizeView Roles="Admin,Party">
                <li class="nav-item px-3">
                    <NavLink class="expand-menu" href="PecMembersParty/PecMembersParty" Match="NavLinkMatch.All">
                        &nbsp;&nbsp;&nbsp;&nbsp;  <span class="oi oi-inbox" aria-hidden="true"></span>Դիտել
                    </NavLink>
                </li>
            </AuthorizeView>
            <AuthorizeView Roles="Admin,BeforeDayInput">
                <li class="nav-item px-3">
                    <NavLink class="" href="PecMembersParty/PecMembersPartyAdd" Match="NavLinkMatch.All">
                        &nbsp;&nbsp;&nbsp;&nbsp; <span class="oi oi-pencil" aria-hidden="true"></span>Լրացնել
                    </NavLink>
                </li>
            </AuthorizeView>
        }



        <AuthorizeView Roles="Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Administrator/Administrator" Match="NavLinkMatch.All">
                    <span class="oi oi-wrench" aria-hidden="true"></span>Կարգավորումներ
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>



@code {
    private bool expandSubNav;
    private bool expandSubNavTec;

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
