@page "/Administrator/Administrator"
@inherits AdministratorBase


    <div class="card-header" style="padding:10px">
        @*<NavLink href="@($"Administrator/Roles/CreateRole")" class="btn btn-info table-btn">
            CreateRole
        </NavLink>*@
        <NavLink href="@($"Administrator/Roles/ListRoles")" class="btn btn-info table-btn">
            Role-ները
        </NavLink>
    </div>
