@page "/Administrator/Administrator"
@inherits AdministratorBase
@attribute [Authorize(Roles = "Admin")]

    <div class="card-header" style="padding:10px">
       
        <NavLink href="@($"Administrator/Users/Users")" class="btn btn-primary table-btn">
            User-ներ
        </NavLink>
        <NavLink href="@($"Administrator/Roles/ListRoles")" class="btn btn-info table-btn">
            Role-ներ
        </NavLink>
        @*<NavLink href="@($"Administrator/Permissions/Permissions")" class="btn btn-success table-btn">
           Լիազորություններ
        </NavLink>*@
        <br />
     
    </div>
