@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Մուտքի արգելք";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Դուք չունեք տվյալ նյութը տեսնելու թւյլատվություն</p>
</header>
