@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Գաղտնաբառի վերականգնում";
}

<br />
<br />
<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <form id="account" method="post">
                            <div class="card-header text-white bg-info">
                                <h6>Գաղտնաբառի վերականգնում</h6>
                            </div>

                            <hr />
                            <div class="form-group">
                                <label>Մուտքագրեք ձեր էլեկտորնային հասցեն</label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-lg btn-primary px-4">Մուտք</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
