@page
@model LoginModel
@{
    ViewData["Title"] = "Մուտք համակարգ";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <br />
            <br />
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <form id="account" method="post">
                            <div class="card-header text-white bg-info">
                                <h6>Մուտք գործեք Ձեր գործարկողով</h6>
                            </div>


                            <hr />
                            @*<div asp-validation-summary="All" class="text-danger"></div>*@
                            <div class="form-group">
                                <label>Մուտքանուն </label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label> Գաղտնաբառ</label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="Input.RememberMe" />
                                        Հիշել ինձ
                                    </label>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-lg btn-primary px-4">Մուտք</button>
                                    <a class="btn btn-lg btn-secondary px-4" href="/?page=%2FAccount%2FHome%2FIndex">Չեղարկել</a>
                                </div>
                                <div class="col-12" style="margin-top:20px;">
                                    <a href="/Identity/Account/ForgotPassword">Մոռացել եք գաղտնաբառը՞</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card-header text-white bg-success" style="flex:0.8">
                    <div class="card-body text-center">
                        <div>
                            <h5><i class="fa fa-warning fa-lg mt-4"></i> ՏԸՀ անդամներ</h5>
                            <h5><i class="fa fa-warning fa-lg mt-4"></i> Ավտոմատացնած</h5>
                            <h5><i class="fa fa-warning fa-lg mt-4"></i> Համակարգ</h5>
                            <hr class="bg-white" />
                            <div class="right-img">
                                <img src="~/img/sLogo.png" style="width:50%" />
                            </div>
                            <hr class="bg-white" />
                            <p class="margin-top-10 text-left text-center">
                                <h6><i class="fa fa-warning fa-lg mt-4"></i>Համակարգը նախատեսված է իրականացնելու ընտրությունների նախապատրաստման ընթացքում ՏԸՀ անդամների առցանց գրանցնամ գործընթացը:</h6>
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
