@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Գրանցման հաստատում";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p> Գրանցումը  հաստատելու համար այցելեք Ձեր էլ․փոստ և անցեք հաստատման հղումով։</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
