@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Գաղտնաբառի վերականգնում";
}
<br />
<br />
<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <div class="card-header text-white bg-info">
                            <h6> Գաղտնաբառը հաջողությամբ փոխվեց</h6>
                        </div>
                        <hr />
                        <div class="card-header text-white bg-success">
                            <h6>Սեղմեք <a asp-page="./Login"> այստեղ </a> Մուտք գործելու համար</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>