@page "/PecMemberReports/PecMembersGen"
@inherits PecMembersGenBase
@attribute [Authorize(Roles = "Admin")]


<div class="card-header" style="padding:10px">
    <NavLink href="@($"PecMemberReports/PecMemberReports")" class="btn btn-info table-btn">
        Գենեռացնել կազմը
    </NavLink>
    <br />
</div>

